@import 'https://fonts.googleapis.com/css?family=Montserrat';
body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat';
}

.App {
  height: 400px;
  width: 300px;
  perspective: 0 200px;
  background: #fe4b42; /* Old browsers */
  background: -moz-linear-gradient(top, #fe4b42 0%, #8d1676 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe4b42 0%,#8d1676 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe4b42 0%,#8d1676 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe4b42', endColorstr='#8d1676',GradientType=0 ); /* IE6-9 */
  position: relative;
}

.App:hover::before {
  opacity: 0;
  height: 0;
}

.App:hover::after {
  opacity: 0;
  width: 0;
}

.App::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: 100%;
  left: 10px;
  opacity: 1;
  perspective: 0 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 1px;
}

.App::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  bottom: 0;
  left: 100%;
  perspective: 0 200px;
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 1px;
}

.Display {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}

.Display::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100%;
  mix-blend-mode: overlay;
  display: block;
  z-index: 2;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Button {
  background: rgba(255, 255, 255, 0.1);;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  height: 20%;
  min-width: 25%;
}

.Button[data-size="2"] {
  height: 40%;
}

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background: #ff3236; /* Old browsers */
  background: -moz-linear-gradient(left, #ff3236 0%, #8d1676 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff3236 0%,#8d1676 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff3236 0%,#8d1676 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#8d1676',GradientType=1 ); /* IE6-9 */
  cursor: pointer;
}

.Button:active {
  background: #ff3939;
}
